In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
!ls

5c9fa979-5a84-45d6-93b9-543d1a0efc41.csv
9db113a1-cdbe-4b1c-98c2-11590f124dd8.csv
BloodDonationSubmissionFormat.csv
bd1.ipynb

In [3]:
train = pd.read_csv('9db113a1-cdbe-4b1c-98c2-11590f124dd8.csv')
test = pd.read_csv('5c9fa979-5a84-45d6-93b9-543d1a0efc41.csv')
subm = pd.read_csv('BloodDonationSubmissionFormat.csv')

In [4]:
train.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation,Made Donation in March 2007
0,619,2,50,12500,98,1
1,664,0,13,3250,28,1
2,441,1,16,4000,35,1
3,160,2,20,5000,45,1
4,358,1,24,6000,77,0

In [5]:
test.head()

,Unnamed: 0,Months since Last Donation,Number of Donations,Total Volume Donated (c.c.),Months since First Donation
0,659,2,12,3000,52
1,276,21,7,1750,38
2,263,4,1,250,4
3,303,11,11,2750,38
4,83,4,12,3000,34

In [6]:
subm.head()

   Unnamed: 0  Made Donation in March 2007
0         659                          0.5
1         276                          0.5
2         263                          0.5
3         303                          0.5
4          83                          0.5

In [7]:
train.columns
train = train.drop(['Unnamed: 0'], axis=1)
test = test.drop(['Unnamed: 0'], axis=1)

Index(['Unnamed: 0', 'Months since Last Donation', 'Number of Donations',
       'Total Volume Donated (c.c.)', 'Months since First Donation',
       'Made Donation in March 2007'],
      dtype='object')

In [8]:
train.shape

(576, 5)

In [9]:
test.shape

(200, 4)

In [10]:
Y = train['Made Donation in March 2007'].values

In [11]:
train = train.drop(['Made Donation in March 2007'], axis=1)

In [12]:
Xtr = train.values
Xts = test.values

In [13]:
Xtr.shape
Xts.shape

(576, 4)

(200, 4)

In [14]:
train_mean = np.mean(Xtr)
train_std = np.std(Xtr)

xtr = (Xtr - train_mean)/train_std
xts = (Xts - train_mean)/train_std

In [15]:
from xgboost import XGBClassifier

In [19]:
model = XGBClassifier(learning_rate =0.01,
 n_estimators=200,
 max_depth=5,
 min_child_weight=1,
 gamma=1,
 subsample=0.8,
 colsample_bytree=0.8,
 objective= 'binary:logistic',
 nthread=-1,
 scale_pos_weight=1,
 seed=27)
model.fit(xtr, Y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.8, gamma=1, learning_rate=0.01, max_delta_step=0,
       max_depth=5, min_child_weight=1, missing=None, n_estimators=200,
       n_jobs=1, nthread=-1, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=27, silent=True,
       subsample=0.8)

In [20]:
y_pred = model.predict_proba(xts)

In [21]:
y_pred = y_pred[:,1]

In [23]:
subm['Made Donation in March 2007'] = pd.Series(y_pred)

In [24]:
subm.to_csv('subm1.csv', index=False)